.main {
    background: var(--bg-color-light);
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    margin-top: 30px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons > button {
    width: 100%;
}

